<div class="item">
	<!-- 日期分类 -->
	<div class="mark">{{date|date:'ddMMM'}}</div>
	<ul class="posts">
		<!-- 文章 -->
		<li ng-repeat="post in posts">
			<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
			<div class="cont">
				<h3>{{post.title}}</h3>
				<div class="brief">
					<!-- !=10003 -->
					<p ng-class="{only: post.display_style == 10001}" ng-if="post.display_style != 10003">{{post.abstract}}</p>
					<!-- 10002 -->
					<div class="thumb" ng-if="post.display_style == 10002">
						<img ng-src="http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl={{post.thumbs[0].small.url}}" alt="">
					</div>
					<!-- 10003 -->
					<div class="gallery" ng-if="post.display_style == 10003">
						<div class="img-box" ng-repeat="thumb in post.thumbs">
							<img ng-src="http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl={{thumb.small.url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<!--<div class="item">-->
	<!--&lt;!&ndash; 日期分类 &ndash;&gt;-->
	<!--<div class="mark" ng-show="loaded">{{date|date:'ddMMM'}}</div>-->
	<!--<ul class="posts">-->
		<!--&lt;!&ndash; 文章 &ndash;&gt;-->
		<!--<li ng-repeat="post in posts">-->
			<!--<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>-->
			<!--<div class="cont">-->
				<!--<h3>{{post.title}}</h3>-->
				<!--<div class="brief">-->
					<!--&lt;!&ndash; !=10003 &ndash;&gt;-->
					<!--<p ng-class="{only: post.display_style == 10001}" ng-if="post.display_style != 10003">{{post.abstract}}</p>-->
					<!--&lt;!&ndash; 10002 &ndash;&gt;-->
					<!--<div class="thumb" ng-if="post.display_style == 10002">-->
						<!--<img ng-src="http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl={{post.thumbs[0].small.url}}" alt="">-->
					<!--</div>-->
					<!--&lt;!&ndash; 10003 &ndash;&gt;-->
					<!--<div class="gallery" ng-if="post.display_style == 10003">-->
						<!--<div class="img-box" ng-repeat="thumb in post.thumbs">-->
							<!--<img ng-src="http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl={{thumb.small.url}}" alt="">-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</li>-->
	<!--</ul>-->
<!--</div>-->
